<div class="w-full">
  <h1 class="text-6xl text-center m-10 pb-10">Let's do it!</h1>
  <h2 class="text-3xl text-center pt-10 hover:opacity-50">
    <%= link_to("TO Doをつける", new_todo_path) %>
  </h2>
</div>